{% extends 'base.html' %}

{% block title %}
{{ clock.super }} - Home
{% endblock title %}


{% block content %}


    <div id="info_box">
        <h2>Subbmited Info:</h2>
        <div class="card">
            <div class="card-body">
                Name: {{ name_on_template }}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Dojo Location: {{ city_on_template }}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Favorite Language: {{ lang_on_template }}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Comment: {{ comment_on_template }}
            </div>
        </div>
    </div>
{% endblock content %}